:root {
    --main-purple : #7e4e84;
    --darker-main-purple : #342238;
    --main-purple2 : #c7b3f2;
    --blue : #4C00B0;
    --purple : #7600BC;
    --light-purple : #BE2ED6;
    --lighter-purple : #CA4CDD;
    --more-ligher-purple : #DA8EE7;
    --white-purple : #E8BCF0;
    --red : #e54d4d;
    --white : white;
    --black : black;
}


  